/* CSS Reset */

/* Text Styling */


/* Navbar Styling */


/**/
/**/
/**/


/* Footer Styling */


/* Media Queries */

body {
    position: relative;
    width: 100vw;
    margin: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: normal;
    color: #000;
    background-color: #f3f3f3;
    overflow-x: hidden;
}